# Bỏ qua thư mục môi trường ảo (Nặng hàng trăm MB, không được đẩy lên)
venv/
.venv/
env/
fe/node_modules/

# Bỏ qua file cache của Python
__pycache__/
*.pyc

# Bỏ qua file cấu hình môi trường chứa mật khẩu (BẢO MẬT)
.env

# Bỏ qua dữ liệu database local
data/
db/
mongo_data/

# Bỏ qua file hệ thống
.DS_Store
Thumbs.db